<div class="post">
    <% if(thread.author.equals(user._id)) { %>
    <p>Author: <%= thread.author.name %></p>
    <p>Created: <%= thread.created %></p>
    <p><%= thread.text %></p>
    <p>Last Updated: <%= thread.updated %></p>
    <button>Edit</button>
    <% } else { %>
    <p>Author: <%= thread.author %></p>
    <p>Created: <%= thread.created %></p>
    <p><%= thread.text %></p>
    <p>Last Updated: <%= thread.updated %></p>
    <% } %>
</div>