<%- include('../partials/boiler') %>
<%- include('../partials/banner') %>
<nav>
    <div>
        <a href="/forum/new-thread">New Thread</a>
    </div>
</nav>
<main>
    <% threads.forEach(function(thread) { %>
    <br>
    <a href="/forum/threads/<%= thread._id %>"><%= thread.topic %></a>
    <% }); %>
</main>
<script>

</script>
<%- include('../partials/footer') %>